<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282764570518-cekrd7k9jo85vrnr4289ltmo99bb17s7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282764570518-cekrd7k9jo85vrnr4289ltmo99bb17s7</string>
	<key>API_KEY</key>
	<string>AIzaSyBVZNeUh3M2v5ObijiDlEDkessrDSAGnwg</string>
	<key>GCM_SENDER_ID</key>
	<string>282764570518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apsterio.Fasts</string>
	<key>PROJECT_ID</key>
	<string>fasts-92cff</string>
	<key>STORAGE_BUCKET</key>
	<string>fasts-92cff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282764570518:ios:3c706b5dafdf50040b77b7</string>
</dict>
</plist>